@model IEnumerable<StudentManagementApp.Models.ExamResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Exam Results</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.examID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.examID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
