
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        @Html.ActionLink("School Management Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mr-1" })

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            @if (Request.IsAuthenticated)
            {
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#"> <strong>@Html.Encode(User.Identity.Name)</strong></a>
                        @*<a class="dropdown-item" href="#">Activity Log</a>*@
                        <div class="dropdown-divider"></div>
                        <strong>@Html.ActionLink("Sign Out", "Logout", "Home", new { @class = "dropdown-item" })</strong> 
                    </div>
                </li>
            }
            else
            {
                <li>@Html.ActionLink("Sign In", "Login", "User")</li>
            }
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <span class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>@Html.ActionLink("Home", "Index", "Home")</span>
                </span>
            </li>

            @*<li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span>
            </a>
        </li>*@
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fas fa-fw fa-table"></i>
                    <span>@Html.ActionLink("Admins", "Index", "Admins")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-user"></i>
                    <span>@Html.ActionLink("Students", "Index", "Students")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-archive"></i>
                    <span>@Html.ActionLink("Enrolls", "Index", "Enrolls")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-user-circle"></i>
                    <span>@Html.ActionLink("Teachers", "Index", "Teachers")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-user"></i>
                    <span>@Html.ActionLink("Admins", "Index", "Admins")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-user-circle"></i>
                    <span>@Html.ActionLink("Attendances", "Index", "Attendances")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-book"></i>
                    <span>@Html.ActionLink("Courses", "Index", "Courses")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-book"></i>
                    <span>@Html.ActionLink("Sections", "Index", "Sections")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-list"></i>
                    <span>@Html.ActionLink("Exams", "Index", "Exams")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-list"></i>
                    <span>@Html.ActionLink("ExamResults", "Index", "ExamResults")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-university"></i>
                    <span>@Html.ActionLink("Faculties", "Index", "Faculties")</span>
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link">
                    <i class="fa fa-address-card"></i>
                    <span>@Html.ActionLink("Addresses", "Index", "Addresses")</span>
                </span>
            </li>
        </ul>
        @*<div id="content-wrapper">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>*@
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - School Management System</p>
    </footer>

    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }
        });
    </script>
</body>