<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - School Management Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page-top">
  
        <div id="content-wrapper">
            @RenderBody()
 
        </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryeasing")
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datatables-demo")
    @Scripts.Render("~/bundles/datatables-bootstrap4")
    @Scripts.Render("~/bundles/chartjs")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/momentjs")
    @RenderSection("scripts", required: false)

</body>
</html>
