@model IEnumerable<StudentManagementApp.Models.Section>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Section Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            Teacher Name
        </th>
        <th>
            Section ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sectionID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.sectionID }) |
            @Html.ActionLink("Details", "Details", new { id = item.sectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.sectionID })
        </td>
    </tr>
}

</table>
